<h1>
  Faction Information
</h1>

<h2>
  <u>
    <%= @faction.name %>
  </u>
</h2>
<h3>
  <%= @faction.description %>
</h3>

<%= form_for @faction do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "#{@faction.name} Planets" %>
<% end %>
</br>

<div class="result"></div>

</p>
<p>
  <%= link_to "Logout", session_path, method: :delete %>
</p>
<%= link_to "Create New Planet for #{@faction.name} Colonization", new_faction_planet_path(@faction) %>
<p>
  <%= link_to "<-Back to #{@player.name}'s Dashboard", player_path(@player) %>
</p>
