<h1>
  Create a Hero
</h1>

<%= form_for @character do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <p>
  Select Faction:
  </p>
  <%= f.collection_select(:faction_id, Faction.all, :id, :name, include_blank: true) %>
  <%= f.submit "Create Hero" %>
<% end %>
<br>
<%= link_to "<- Back to Dashboard", player_path(@player) %>
</br>


