<h1>Create a Player Account</h1>

<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %></br>
  <%= f.label :password %>
  <%= f.text_field :password %></br>
  <%= f.submit "Create" %>
<% end %>
