<h1>Signup</h1>

<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %></br>
  <%= f.label :password %>
  <%= f.text_field :password %></br>
  <%= f.submit "Create Player" %>
<% end %>
</br>
<%= link_to "Login", new_session_path %></br>
<%= link_to "<- Back Home", root_path %>
