<h1>Player Dashboard for <%= @player.name %></h1>

<p>
  <%= link_to "Logout", session_path, method: :delete %>
  </p>

<p><%= link_to "Search for player", players_path %></p>

<% if @can_create_hero %>
  <%= link_to "Create New Hero", new_character_path %>
<% end %>


<p>
  <u>
    <%= @player.name %>'s Hero(s) list:
  </u>
</p>
<% @player.characters.each do |char| %>
  <p>
    Name: <%= char.name %></br>
    Faction: <%= link_to char.faction.name, faction_path(char.faction) %>
  </p>
<% end %>
