<pre>
    ____             __    __                         __
   / __ \____ ______/ /_  / /_  ____  ____ __________/ /
  / / / / __ `/ ___/ __ \/ __ \/ __ \/ __ `/ ___/ __  /
 / /_/ / /_/ (__  ) / / / /_/ / /_/ / /_/ / /  / /_/ /
/_____/\__,_/____/_/ /_/_.___/\____/\__,_/_/   \__,_/
</pre>
<%= link_to "Logout", session_path, method: :delete %>
<h1>
  <%= @player.name %>
</h1>
<p>
  <%= link_to "Search For Player", players_path %>
</p>
<% if @can_create_hero %>
  <%= link_to "Create New Hero", new_character_path %>
<% end %>
<h3>
  <u>
    <%= @player.name %>'s Hero List:
  </u>
</h3>
<% @player.characters.each do |char| %>
  <p>
    <b>Name</b>: <%= char.name %>
    </br>
    <% if @can_create_hero %>
      <b>Faction</b>: <%= link_to char.faction.name, faction_path(char.faction) %>
    <% else %>
      <%= char.faction.name %>
    <% end %>
  </p>
<% end %>
