<!DOCTYPE html>
<html>
  <head>
    <title>Starcraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <% if value.respond_to?(:each) %>
          <% value.each do |line| %>
            <%= line %>
            <br />
          <% end %>
        <% else %>
          <%= value %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
